version: 2.1

workflows:
  circleci_tests:
    # The following jobs run in the following stages:
    # - Setup runs first.
    # - After setup passes, frontend tests, coverage tests and actions tests run.
    jobs:
      - setup
      - frontend_tests:
          requires:
            - setup

anchor_for_job_defaults: &job_defaults
  working_directory: /home/circleci/oppiabot
  docker:
    - image: node:12.16.1

jobs:
  setup:
    <<: *job_defaults
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - oppiabot/node_modules/

  frontend_tests:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/
      - run:
          name: Run frontend tests
          command: npm run test
