name: CI Frontend
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  frontend:
    runs-on:  ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
        - name: Check node version
        - run: node -v
      - name: Install dependencies
        run: npm install
      - name: Run frontend tests
        run: npm run test
